$primary-color: #4451c9;
$text-color-light: white;
$text-color-dark: black;
$surface-color-light: white;
$surface-color-dark: black;
$color-black: black;
$color-white: white;

// breakpoints
$bp-largest: 48em; //768px
$bp-large: 31.25em; //500px

$trial-breakpoint: 19.25em; //308px
